<!doctype html>
<html>
  <head>
    <title>Spam Detection AI</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>📨 Spam Detection AI</h1>
        <p class="subtitle">Type a message to see if it’s spam</p>

        <form method="post">
          <textarea name="message" placeholder="Enter your message...">
{{ message }}</textarea
          >
          <button type="submit">Predict</button>
        </form>

        {% if prediction %}
        <div class="result {{ 'spam' if 'SPAM' in prediction else 'ham' }}">
          <strong>{{ prediction }}</strong>

          <div class="confidence">
            Confidence: {{ "%.1f"|format(confidence * 100) }}%
          </div>

          <div
            class="progress {{ 'spam' if 'SPAM' in prediction else 'ham' }}"
            style="--width: {{ confidence * 100 }}%;"
          >
            <div class="bar"></div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
